{% extends 's-admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Set Up Profile{% endblock title %}

{% block header %}Set Up Profile{% endblock header %}


{% block form %}
    <form method="post" accept-charset="utf-8" enctype="multipart/form-data"  style="width: 120%;">
        {% if messages %}
          <div class="alrt" style="
            min-height: 20px;
            color: wheat;
            background-color: rgba(255, 0, 0, 0.735);
            border-radius: 5px;
            font: 10px;
            margin-top: 15px;
            padding-left: 8px;
            padding-top: 6px;
            padding-bottom: 6px;"
          >
                {% for message in messages %}
                    {{ message }}
                {% endfor %}

          </div>
        {% endif %}

		{% csrf_token %}
		{{ form|crispy }}
        <input class="button" type="submit" value="Register" />
    </form>
{% endblock form %}

















