{% extends 's-admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password confirm{% endblock title %}

{% block header %}<h2 class="font-weight-bold mt-3">Password reset complete</h2>{% endblock header %}


{% block form %}
    <div class="container p-4">
        <p>An Email Has been sent to your Email. If the email you inputted in the last form wasn't registered with any account in our database,
        you won't see any email</p>
    </div>
{% endblock form %}

